COMPOSE_PROJECT_NAME=news
NEWS_BACKEND_IMAGE=news-backend:latest

POSTGRES_VERSION=18.6-alpine3.24
POSTGRES_DB=news_db
POSTGRES_USER=news_user
POSTGRES_PASSWORD=replace_with_a_strong_password
BACKEND_HOST_PORT=3000
TYPEORM_SYNCHRONIZE=false

PARSER_MAX_ARTICLES_PER_RUN=20
PARSER_RUN_ON_START=true

SESSION_SECRET=replace_with_at_least_32_random_characters
SESSION_COOKIE_SECURE=true

KEYCLOAK_ISSUER_URL=https://vitaliy-vm.duckdns.org/keycloak/realms/news-realm
KEYCLOAK_CLIENT_ID=news-client
KEYCLOAK_CLIENT_SECRET=replace_with_the_production_client_secret
